{% extends "../base.html" %}

{% block body %}
<div id="alldevices">
    <div class="form-inline mx-sm-3 mb-2">
        <div class="form-group mx-sm-3 mb-2">
            <a class="form-control btn btn-warning" href="/docker/image/pull">Pull</a>    
        </div>
    </div>

    <br>
    <!-- device's list -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    Tag
                </th>
                <th scope="col">
                    Status
                </th>
                <th>{{ len(items) }}</th>
            </tr>
        </thead>
        <tbody id="tbod">
            {% for i,item in enumerate(items) %}
                <tr>
                    <td>
                        {{ item.tags[0] }}
                    </td>
                    <td>
                        {{ in_use[i] }}
                    </td>
                    <td>
                        <div>
                            <a class="btn btn-success" href="/docker/image/run?id={{ item.id}}">Run</a>
                            <a class="btn btn-danger" href="/docker/image/delete?id={{ item.id}}" onclick='return a_click()'>Delete</a>
                        </div>

                    </td>
                </tr>
            {% end %}
        </tbody>
    </table>
    
</div>
{% end %}