{% extends "../base.html" %}

{% block body %}
<div id="alldevices">
    <div class="form-inline mx-sm-3 mb-2">
        <a class="form-control btn btn-success" href="/nginx/create">Create</a>
    </div>

    <br>
    <!-- device's list -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    Name
                </th>
                <th>{{ len(items) }}</th>
            </tr>
        </thead>
        <tbody id="tbod">
            {% for i,item in enumerate(items) %}
                <tr>
                    <td>
                        {{ item }}
                    </td>
                    <td>
                        <div>
                            <a class="btn btn-warning" href="/nginx?name={{ item}}">Details</a>
                            <a class="btn btn-danger" href="/nginx/delete?id={{ item}}">Delete</a>
                        </div>
                    </td>
                </tr>
            {% end %}
        </tbody>
    </table>
    
</div>
{% end %}