{% extends "../base.html" %}

{% block body %}
<div id="alldevices">
    <form class="form-inline" asp-action="Index">
        <div class="form-group mx-sm-3 mb-4">
            <select id="gitlabs" type="text" class="form-control">
            </select>
        </div>
        <div class="form-group mx-sm-3 mb-4">
            <select id="projects" type="text" class="form-control">
            </select>
        </div>
    </form>
    <br>
    <!-- device's list -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    Name
                </th>
                <th>{{ len(items) }}</th>
            </tr>
        </thead>
        <tbody id="tbod">
            {% for item in items %}
                <tr>
                    <td>
                        {{ item['name'] }}
                    </td>
                    <td>
                        <div>
                            <a class="btn btn-primary"  href="/gitlab/branch?branch={{ item['name']}}">Show</a>
                            <a class="btn btn-secondary" target="_blank" href="{{ item['web_url']}}">Open</a>
                            <a class="btn btn-success" href="/docker/image/build?branch={{ item['name']}}&project={{handler.get_argument("project")}}&gitlab={{handler.get_argument("gitlab")}}&run=1">Build & Deploy</a>
                        </div>

                    </td>
                </tr>
            {% end %}
        </tbody>
    </table>
    
</div>
{% end %}

{% block script %}
<script>
    $(window).on('load', async function() {
        show_overlay()
        await get_gitlabs()
        
        var gitlab_id=$("#gitlabs").find(":selected").val();
        if(gitlab_id){
            var projetcs= await get_projects(gitlab_id)
        }
        hide_overlay()
    });
    $("#gitlabs").change(async function () {
        show_overlay()
        var id = $(this).find(":selected").val();
        if(id){
            await get_projects(id)
        } 
        hide_overlay()
    });
    $("#projects").change(function () {
        var id = $(this).find(":selected").val();
        var gitlab_id = $("#gitlabs").find(":selected").val();
        if (id&&gitlab_id){
            window.location.replace(window.location.pathname+"?gitlab=" + gitlab_id+"&project="+id);
        }
    });
</script>
{% end %}