{% extends "../base.html" %}

{% block body %}
<div id="alldevices">
    <form class="form-inline" asp-action="Index">
        <div class="form-group mx-sm-3 mb-4">
            <select id="gitlabs" type="text" class="form-control">
            </select>
        </div>
    </form>
    <br>
    <!-- device's list -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    Name
                </th>
                <th>{{ len(items) }}</th>
            </tr>
        </thead>
        <tbody id="tbod">
            {% for item in items %}
                <tr>
                    <td>
                        {{ item['name'] }}
                    </td>
                    <td>
                        <div>
                            <a class="btn btn-primary" href="/gitlab/project?project={{ item['id']}}">Show</a>
                            <a class="btn btn-secondary" target="_blank" href="{{ item['web_url']}}">Open</a>
                        </div>

                    </td>
                </tr>
            {% end %}
        </tbody>
    </table>
    
</div>
{% end %}

{% block script %}
<script>
    $(window).on('load', async function() {
        show_overlay()
        await get_gitlabs()
        hide_overlay()
    });
    $("#gitlabs").change(function () {
        var id = $(this).find(":selected").val();
        if (id){
            window.location.replace(window.location.pathname+"?gitlab=" + id);
        }
    });
</script>
{% end %}