<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="{{ static_url("favicon.ico") }}" />
    <link rel="apple-touch-icon image_src" href="{{ static_url("apple-touch.png") }}">

    <title>Administartor</title>

    <link rel="stylesheet" href="{{ static_url("lib/bootstrap/dist/css/bootstrap.min.css") }}" />
    <link rel="stylesheet" href="{{ static_url("css/style5.css") }}">
    <link href="{{ static_url("lib/date/jquery.md.bootstrap.datetimepicker.style.css") }}" rel="stylesheet" />
    <link href="{{ static_url("lib/icons-1.3.0/font/bootstrap-icons.css") }}" rel="stylesheet" />
    <link href="{{ static_url("lib/bootstrap/dist/css/bootstrap-select.min.css") }}" rel="stylesheet" />
    <link href="{{ static_url("css/custom_style.css") }}" rel="stylesheet" />
    {% block css %}{% end %}

</head>

<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header text-center">
                <h2>Admin Dashboard</h2>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="#_0" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Gitlab</a>
                    <ul class="collapse list-unstyled" id="_0">
                        <li>
                            <a href="javascript:;" id="a_0" onclick="action(event,'/gitlab/credential')">Credentials</a>
                        </li>
                        <li>
                            <a href="javascript:;" id="a_1" onclick="action(event,'/gitlab/project')">Projects</a>
                        </li>
                        <li>
                            <a href="javascript:;" id="a_2" onclick="action(event,'/gitlab/branch')">Branches</a>
                        </li>
                    </ul>
                </li>
                {% if access_level==1 %}
                <li>
                    <a href="#_1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Users</a>
                    <ul class="collapse list-unstyled" id="_1">
                        <li>
                            <a href="javascript:;" id="a_0" onclick="action(event,'/user')">Users</a>
                        </li>
                    </ul>
                </li>
                {% end %}
                <li>
                    <a href="#_2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Docker</a>
                    <ul class="collapse list-unstyled" id="_2">
                        <li>
                            <a href="javascript:;" id="a_0" onclick="action(event,'/docker/image')">Images</a>
                        </li>
                        <li>
                            <a href="javascript:;" id="a_1" onclick="action(event,'/docker/container')">Containers</a>
                        </li>
                        <li>
                            <a href="javascript:;" id="a_2" onclick="action(event,'/docker/volume')">Volumes</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#_3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Monitoring</a>
                    <ul class="collapse list-unstyled" id="_3">
                        <li>
                            <a href="javascript:;" id="a_0" onclick="action(event,'/monitor')">Monitors</a>
                        </li>
                    </ul>
                </li>
                {% if nginx>0 %}
                <li>
                    <a href="#_4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Nginx</a>
                    <ul class="collapse list-unstyled" id="_4">
                        <li>
                            <a href="javascript:;" id="a_0" onclick="action(event,'/nginx')">List</a>
                        </li>
                    </ul>
                </li>   
                {% end %}
                <li>
                    <a href="#_5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">CICD</a>
                    <ul class="collapse list-unstyled" id="_5">
                        <li>
                            <a href="javascript:;" id="a_0" onclick="action(event,'/cicd')">List</a>
                        </li>
                    </ul>
                </li> 
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>

        </nav>
        
        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
            
                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark btn-sm d-inline-block d-lg-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="bi bi-arrow-down d-flex justify-content-center"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex justify-content-center">
                            {{ title }}
                        </div>
                    </div>
                    <div style="font-size: 1rem;color: darkred;">
                        <div class="d-flex justify-content-center">
                            {{ error }}
                        </div>
                    </div>
                </div>
            </nav>
            {% block body %}{% end %}

        </div>
    </div>


    {% block modals %}{% end %}

    <script src="{{ static_url("lib/jquery/dist/jquery.min.js") }}"></script>
    <script src="{{ static_url("lib/jquery/dist/jquery.cookie.js") }}"></script>
    <script src="{{ static_url("lib/bootstrap/dist/js/bootstrap.bundle.min.js") }}"></script>
    <script src="{{ static_url("lib/bootstrap/dist/js/bootstrap-select.min.js") }}"></script>
    <script src="{{ static_url("lib/date/jquery.md.bootstrap.datetimepicker.js") }}"></script>
    <script src="{{ static_url("lib/preview-image.js") }}"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            w = $(window).width();
            $(".wrapper").css({ "width": w });
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>
    <script type="text/javascript">
        function action(e, url) {
            var ac = $(e.target).attr('id');
            window.location.href = url;
        }
    </script>

    {% block script %}{% end %}

</body>

</html>